@import "./global/variables";
@import "global/general";
@import "layouts/index";
@import "layouts/historia";
@import "layouts/multiversospiderman";
@import "layouts/enemigos";
@import "layouts/peliculas";


/* MEDIA QUERIES */

@media only screen and (max-width: 768px) {
    
    /* INDEX */
    
    .header {
        flex-direction: column;
    }
    
    .header__options {
        padding: 20px;
    }
    
    .nav__backgroundphoto {
        padding: 400px 100px;
        background-attachment: local;
    }
    
    .text__one {
        text-align: center;   
        font-size: 19px;
       }
    
    .text__two {
        text-align: center;   
        font-size: 19px;
       }
    
    .copyright {
        font-size: 11px;
    }
    
    /* RESTA FINALIZAR */
    }

@media only screen and (max-width: 576px) {

/* INDEX */

.navbar-collapse {
    text-align: center;
    padding-top: 30px;
}

.nav__backgroundphoto {
    background-attachment: local;
    background-position: end;
}
.text__one {
 text-align: center;   
 font-size: 17px;
}

.text__two {
    text-align: center;
    font-size: 17px;
}

.copyright {
    font-size: 8px;
}

/* HISTORIA */
.story__article {
    flex-direction: column;
}

/* SPIDER-VERSE */

.multiverse__titleleft {
    font-size: 30px;
}

.multiverse__titleright {
    font-size: 30px;
}

.multiverse__text-p {
    font-size: 12px;
}

/* ENEMIGOS */
.background {
    padding: 200px 10px;
    background-attachment: fixed;
    font-size: 60px;
}

.background__title {
    padding: 200px 0px;
    font-size: 50px;
}

.enemies__titleleft {
    font-size: 30px;
}

.enemies__titleright {
    font-size: 30px;
}

.enemies__text-p {
    font-size: 12px;
}

.textsinistersix {
    font-size: 14px;
}

.grid {
    grid-template-columns: repeat(1,1fr) ;
    grid-template-rows: repeat(4,1fr)  ;
}

.grid__img {
    width: 450px;
    height: 300px;
    padding: 0;
}

/* PELICULAS */

.movies {
    padding-top: 40px;
    font-size: 27px;
}

.movies__text {
    font-size: 22px;
}

.movies__raimiwebbmcu-img-x {
    height: 350px;
    width: 500px;
}

}

