.navbar {
    width: 100%;
    font-family: $FONT;
    text-decoration: none;

        &-brand {
            font-size: $SIZE1;
            backface-visibility: hidden;
            @extend .animation;
        }

        &-collapse {
            flex-grow: initial;
            backface-visibility: hidden;
            @extend .animation;
        }

}

.nav-link {
    font-size: $SIZE3;
    padding: 0px 0px;
}


