.background {
    background-image: url(../images/Spider-Man\ Enemies.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    &__title {
        padding: 500px 150px;
        text-align: center;
        font-size: 100px;
        font-family: $FONT;
        color: white;
        @extend .animation;
    }
}


.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0px;
}

.enemies {
    background: $RED;

    &__titleleft {
        padding: $SIZE5;
        font-size: $SIZE2;
        padding-left: $SIZE2;
        font-style: bold;
        font-weight: 350;
        font-family: $FONT;
        @extend .animation;
    }

    &__titleright {
        padding: $SIZE5;
        padding-right: $SIZE2;
        font-size: $SIZE2;
        font-style: bold;
        font-weight: 350;
        font-family: $FONT;
        text-align: end;
        @extend .animation;
    }

    &__text {
        padding: $SIZE5;
        display: flex;
        align-items: center;
        justify-content: space-between;
    
        &-img {
            height: 370px;
            width: 270px;
            padding: $SIZE2;
            transition: all 1s;

            &:hover {
                transform: scale(1.2);
            }
        }

        &-p{
            font-size: $SIZE4;
            padding: $SIZE4;
            font-family: $FONT;
            text-align: center;
        }
    }
}

.grid {
    padding: $SIZE1;
    display: grid;
    grid-template-columns: repeat(2,1fr) ;
    grid-template-rows: repeat(1,1fr)  ;
    justify-items: center;
    align-items:center ;
    gap: 10px;
    
    &__img {
        transition: all 1s;
    
        &:hover {
            transform: scale(1.2);
        }
    }
}


.sinistersix {
    background: $RED;

    &__text {
        text-align: center;
        font-family: $FONT;
        font-size: $SIZE4;
        padding: $SIZE3;
    }

    &__title {
        text-align: center;
        font-family: $FONT;
        font-size: $SIZE2;
        padding: $SIZE3;
    }

    &__continueto {
        text-align: center;
        padding: $SIZE3;
        font-family: $FONT;
    }
}
