.story { 
    background: $RED;

    &__title {
        text-align: center;
        font-family: $FONT;
        font-size: $SIZE2;
        padding: $SIZE1;
        @extend .animation;
        font-weight: bold;
        
    }

    &__article {
        padding: $SIZE5;
        display: flex;
        align-items: center;

        &-img {
            height: 400px;
            padding-top:$SIZE1 ;
            transition: all 1s;

            &:hover {
                transform: scale(1.1);
            }
        }

        &-p {
            font-size: $SIZE4;
            padding: $SIZE4;
            font-family: $FONT;
            font-style: oblique;
            font-weight: bold;
        }
    }
}

.video {

    &__title {
        font-size: 35px;
        text-align: center;
        padding-top: 100px;
        font-family: $FONT;
        @extend .animation;
        font-weight: bold;
    }

    &__position {
        text-align: center;
        padding: 150px 0px;
        margin: 0px;

        &-vid {
            transition: all 1s;

            &:hover {
                transform: scale(1.8);
            }
        }
    }
}

