.navbar-brand {
    font-weight: bold;
}


.nav__backgroundphoto {
    border: 5px ;
    padding: 10px 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./images/1.jpg);
    background-attachment: fixed;
    background-position: center;
    padding: 600px 100px;
    font-weight: bold;
}

.navbar-nav {
    font-weight: bold;
}

.text {
    display: flex;
    flex-direction: column;
    text-align:justify;
    font-size: $SIZE4;
    background: $RED;
    font-family: $FONT;
    padding: 0px 20px;

    &__one {
        padding-top: $SIZE1;
        padding-bottom: 0px;
        font-size: $SIZE4;
        font-weight: bold;
    }

    &__two {
        font-size: $SIZE4;
        padding-top: 0px;
        font-weight: bold;
    }
}


.start {
    text-align: center;
    padding: $SIZE1;
    background: $RED;
}


