.intro {
    text-align: center;
    font-family: "Joan";
    background: $RED;

    &__title {
        font-size: 30px;
        animation: ease-in animation 2s;
        backface-visibility: hidden;
    }

    &__p {
        font-size: 20px;
        color: white;
        padding: 100px;
        padding-bottom: 250px;
        background-image: url(../images/Wallpaper.jpg);
        background-position: center;
        background-size: cover;
    }
}

.multiverse {

    &__titleleft {
        padding: 15px;
        font-size: $SIZE2;
        font-style: bold;
        font-weight: 350;
        font-family: "Joan";
        animation: ease-in animation 2s;
        text-align: start;
    }

    &__titleright {
        padding: 15px;
        font-size: $SIZE2;
        font-style: bold;
        font-weight: 350;
        font-family: "Joan";
        text-align: end;
        animation: ease-in animation 2s;
    }

    &__text {
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    
        &-img {
            height: 370px;
            width: 270px;
            padding-top: 20px;
            padding: 50px;
            transition: all 1s;

            &:hover {
                transform: scale(1.5);
            }
        }

        &-p {
            font-size: 20px;
            padding: 20px;
            font-family: "Joan";
        }
    
    }

    &__videotitle {
        text-align: center;
        font-size: 30px;
        font-family: "Joan";
        padding-top: 30px;
        padding-bottom: $SIZE2;
        animation: ease-in animation 2s;
    }

    &__video {
        text-align: center;
        padding-bottom: 10px;

        &-vid {
            transition: all 1s;

            &:hover {
                transform: scale(1.2);
            }
        }
    }
}

