.movies {
    background: $RED;

    &__title {
        text-align: center;
        font-size: $SIZE3;
        @extend .animation;
        padding-top: $SIZE3;
        font-weight: bold;
        
    }

    &__text {
        text-align: center;
        padding: $SIZE3;
        font-weight: bold;
        font-style: oblique;
    }
}

section {
    font-family: "Joan";
}

.movies {

    &__raimiwebbmcu {
        text-align: center;

        &-title {
            font-size: $SIZE3;
            padding: $SIZE3;
            padding-top: 80px;
            @extend .animation;
            font-weight: bold;
            font-style: normal;
            }

        &-text {
            font-size: $SIZE4;
            padding: $SIZE3;
            font-family: "Joan";
            text-align: justify;
        }

        &-img-x {
            transition: all 1s;
            padding-top: $SIZE4;
            padding-bottom: $SIZE3;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

