.movies {
    background: rgb(130,0,0);
}

.movies__div-title {
    text-align: center;
    font-size: 30px;
    animation: ease-in animation 2s;
    padding-top: 30px;

}

.movies__text {
    text-align: center;
    padding: 30px;
}

section {
    font-family: "Joan";
}

.movies__raimiwebbmcu {
    text-align: center;
}

.movies__raimiwebbmcu-title {
    font-size: 30px;
    padding: 30px;
    padding-top: 80px;
    animation: ease-in animation 2s;
}

.movies__raimiwebbmcu-text {
    font-size: 20px;
    padding: 30px;
    font-family: "Joan";
}

.movies__raimiwebbmcu-img-x {
    transition: all 1s;
    padding-top: 20px;
    padding-bottom: 30px;
}

.movies__raimiwebbmcu-img-x:hover {
    transform: scale(1.1);
}